$lightgrey: #F7F7F7;
$middlegrey: #e6e6e6;
$white: #FFFFFF;
$black: #000000;
$hardgrey: #505050;
$red: #FF0000;

$gradientStartTitles: $lightgrey;
$gradientEndTitles: $middlegrey;

$primaryTextColor : $black;
$secondaryTextColor : $white;

$btnPrimaryColor : $white;
$btnPrimaryBgColor : $black;

$btnSecondaryColor : $black;
$btnSecondaryBgColor : transparent;


