$lightgrey: #F7F7F7;
$middlegrey: #e6e6e6;
$white: #FFFFFF;
$black: #000000;
$hardgrey: #505050;
$red: #FF0000;
$green: #b8c61a;
$darkblue: #557E8B;
$blue: #7CB8CB;
$grey: #c7c7c7;

$gradientStartTitles: $lightgrey;
$gradientEndTitles: $middlegrey;

$primaryTextColor : $black;
$secondaryTextColor : $white;

$btnPrimaryColor : $white;
$btnPrimaryBgColor : $blue;

$btnSecondaryColor : $black;
$btnSecondaryBgColor : transparent;


