
/*----------  Breakpoints  ----------*/

$breakpoints: (
    tablet: 720px,
    desktop: 1200px,
);

/* Réunir les media-queries spécifiques au support : Tablette */

@mixin tablet {
    @media all and (min-width: map-get($map: $breakpoints, $key: tablet)) {
        @content;
    }
}

/* Réunir les media-queries spécifiques au support : Ordinateur */

@mixin desktop {
    @media all and (min-width: map-get($map: $breakpoints, $key: desktop)) {
        @content;
    }
}

/**
 *  Ajouter la ligne sous les Titres avec le dégradé
 */

@mixin addUnderlineGradient ($color1, $color2)
{
    position: relative;
    z-index: 2;

    &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 5px;
        z-index: 1;
        background: linear-gradient(0.25turn, $color1, $color2);
    }
}