
/*----------  Breakpoints  ----------*/

$breakpoints: (
    tablet: 720px,
    desktop: 1200px,
);

/* Réunir les media-queries spécifiques au support : Tablette */

@mixin tablet {
    @media all and (min-width: map-get($map: $breakpoints, $key: tablet)) {
        @content;
    }
}

/* Réunir les media-queries spécifiques au support : Ordinateur */

@mixin desktop {
    @media all and (min-width: map-get($map: $breakpoints, $key: desktop)) {
        @content;
    }
}

/**
 *  Ajouter la ligne sous les Titres avec le dégradé
 */

@mixin addTextGradient ($color1, $color2)
{
    background-image: url('../img/degrade.svg');
    background-clip: text;

    & span {
        color: transparent;
        padding: 0.225rem 0.5rem;
        line-height: 130%;
    }
}

@mixin addUnderline ($height, $bgColor) {
    & {
        position: relative;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: $height;
        background-color: $bgColor;
    }
}