$lightgrey: #F7F7F7;
$white: #FFFFFF;
$black: #000000;

$primaryTextColor : $black;
$secondaryTextColor : $white;

$btnPrimaryColor : $white;
$btnPrimaryBgColor : $black;

$btnSecondaryColor : $black;
$btnSecondaryBgColor : transparent;


