/**
 *
 *  HERO Section
 *
 */

.hero {
    padding-top: 50px;
    .hero__mainTitle {
        font-style: italic;
        @include desktop {
            font-size: 3rem;
            font-style: normal;
            line-height: 150%;
            width: 60%;
            margin: 0 auto;
        }
    }

    .hero__boldText {
        font-style: normal;
        font-weight: 600;
    }

    .hero__dynamicTitleCategory {
        display: block;
        height: 30px;
        width: 100%;
        color: $green;
    }
}

// Formulaire de recherche

form.hero__searchForm {
    margin-top: 50px;
    @include desktop {
        width: 60%;
        margin: 100px auto 0 auto;
    }

    .hero__searchForm__inputField {
        height: 50px;
        width: 100%;
        position: relative;

        input {
            height: 100%;
            width: 100%;
            padding: 0 45px 0 10px;
            box-shadow: 0 1px 4px #c4c4c4;
            border-radius: 5px;
            border: none;
            outline: 0;
            transition: all 0.2s ease;
            @include desktop {
                font-size: 1rem;

                &:active, &:focus {
                    box-shadow: 0 1px 15px 2px #c4c4c4;
                    transform: scale(1.02);
                }
            }
        }

        button {
            position: absolute;
            right: 0;
            top: 50%;
            background-color: transparent;
            border: none;
            outline: 0;
            width: 50px;
            height: 100%;
            transform: translateY(-50%);
            cursor: pointer;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}

.hero__searchForm--user {
    margin-top: 20px;

    @include desktop {
        margin: 40px auto 0 auto!important;
    }
}

// Catégories en Tendances

.h-categoriesTrendsContainer {
    margin-top: 20px;
    @include desktop {
        margin-top: 0;
        width: 60%;
        margin: 20px auto 0 auto;
        display: grid;
        grid-template: auto / auto 15px 1fr;
        grid-template-areas: "trendTitle . trendButton";
    }
}

.h-titleCategoriesTrends {
    text-align: center;
    margin-bottom: 10px;
    @include desktop {
        margin-bottom: 0;
        grid-area: trendTitle;
        text-align: left;
    }
}

.h-categoriesTrends {
    grid-area: trendButton;
    display: grid;
    grid-template: 100px / repeat(3, 32%);
    grid-column-gap: 5px;

    @include desktop{
        grid-template: auto / repeat(6, 1fr);
        grid-column-gap: 10px;
    }
}

.h-category {
    box-shadow: 0 0 4px #dbdbdb;
    border-radius: 5px;

    .h-category__image {
        height: 70px;
        object-position: center;
        overflow: hidden;
        background-color: $lightgrey;

        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            border-radius: 5px 5px 0 0;
        }
    }
    .h-category__title {
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 0.8rem;
        background-color: $white;
        color: $hardgrey;
        border-radius: 0 0 5px 5px;
    }
}

/**
 * Section POPULAR BLOGS
 */

section.popularBlogs {
    margin-top: 40px;
    @include desktop {
        margin-top: 100px;
    }

    .b-blogsContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @include desktop {
            margin-top: 50px;
            display: grid;
            grid-template: repeat(2, auto) / repeat(3, 1fr);
            grid-gap: 50px 50px;
        }
    }
}

.b-blogsContainer__singleBlog {
    box-shadow: 0 0 4px #dcdcdc;
    border-radius: 5px;
    background-color: $white;
    margin: 15px 0;
    padding: 10px;
    @include desktop {
        margin: 0;
        padding: 0 10px 0 0;
        display: grid!important;
        min-height: 300px;
        grid-template: repeat(4, auto) / 40% 60%;
        grid-column-gap: 10px;
        grid-template-areas:
        "singleBlogImage singleBlogActions"
        "singleBlogImage singleBlogTitle"
        "singleBlogImage singleBlogDescription"
        "singleBlogImage singleBlogLink";
    }

    .b-singleBlog__image {
        height: 120px;
        object-position: bottom;
        overflow: hidden;
        @include desktop {
            grid-area: singleBlogImage;
            height: 100%;
            object-position: center;
        }

        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }

    .b-singleBlog__title {
        margin: 10px 0;
        font-weight: 700;
        @include desktop {
            grid-area: singleBlogTitle;
        }
    }

    .b-singleBlog__description {
        font-size: 0.8rem;
        line-height: 125%;
        margin: 10px 0;
        color: $hardgrey;
        @include desktop {
            grid-area: singleBlogDescription;
            padding-right: 20px;
        }
    }

    .b-singleBlog__link {
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 1rem;
        margin: 15px auto;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        max-width: 300px;
        @include desktop {
            grid-area: singleBlogLink;
            margin: 0;
        }
    }

    .b-userActions {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-template-areas: "love bookmark share";

        @include desktop {
            margin-top: 10px;
            grid-area: singleBlogActions;
            grid-template: 40px / repeat(3, 50px);
            grid-template-areas: "love bookmark share";
            justify-content: flex-end;
        }
    }

    .b-userActions__element {
        align-self: start;
        justify-self: center;
        cursor: pointer;

        svg {
            height: 20px;
            width: auto;
            fill: $grey;
        }
    }

    .b-userActions__love {
        grid-area: love;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        span {
            margin-top: -5px;
            font-size: 0.8rem;
            color: $grey;
        }
    }

    .b-userActions__bookmark {
        grid-area: bookmark;
    }

    .b-userActions__share {
        grid-area: share;
    }
}

/**
 * Section LAST ARTICLES
 */

section.lastArticles {
    margin-top: 40px;
    @include desktop {
        margin-top: 100px;
    }

    .a-articlesContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @include desktop {
            display: grid;
            margin-top: 50px;
            grid-template: auto / repeat(4, 1fr);
            grid-gap: 50px;
        }
    }
}

.a-articlesContainer__singleArticle {
    box-shadow: 0 0 4px #dcdcdc;
    border-radius: 5px;
    background-color: $white;
    margin: 15px 0;
    display: grid!important;
    grid-template-rows: 15px minmax(50px,auto) 200px auto  auto auto auto 15px;
    grid-template-columns: 15px 1fr 15px;
    grid-template-areas:
        ". . ."
        ". articleHeader ."
        ". articleImg ."
        ". articleTitle ."
        ". articleContent ."
        ". articleLink ."
        ". articleActions ."
        ". . .";
    @include desktop {
        grid-template-rows: 5px minmax(50px,auto) 200px auto  auto auto auto 15px;
    }

    .a-singleArticle__header {
        grid-area: articleHeader;
        display: grid;
        grid-template: 100% / 1fr 30px;
        grid-template-areas:
            "a_blogInfo a_blogPubli";
        align-items: center;
        justify-content: space-between;

        .a-singleArticle__idBlog {
            grid-area: a_blogInfo;
            display: grid;
            grid-template: 100% / 30px 5px 1fr;
            grid-template-areas:
                "a_blogLogo  . a_blogName";
            align-items: center;
            justify-content: flex-start;

            .a-idBlog__img {
                grid-area: a_blogLogo;
                height: 30px;      
                object-position: center;
                overflow: hidden;

                img {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .a-idBlog__title {
                grid-area: a_blogName;
                font-family: "CircularStd-Medium", system-ui, sans-serif;
                font-size: 1rem;
                color: $hardgrey;
            }
        }

        .a-singleArticle__publicationDate {
            grid-area: a_blogPubli;
            color: $hardgrey;
        }
    }

    .a-singleArticle__image {
        grid-area: articleImg;
        object-position: center;
        overflow: hidden;

        img {
          width: 100%;
          min-height: 100%;
          object-fit: cover;
        }
    }

    .a-singleArticle__title {
        grid-area: articleTitle;
        margin: 15px 0;
        font-weight: 700;
    }

    .a-singleArticle__description {
        grid-area: articleContent;
        font-size: 0.9rem;
        line-height: 120%;
        color: $hardgrey;
    }

    .a-singleArticle__link {
        grid-area: articleLink;
        letter-spacing: 1px;
        font-weight: 500;
        font-size: 1rem;
        margin: 15px auto;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
    }

    .a-userActions {
        grid-area: articleActions;
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-template-areas: "alove abookmark ashare";
    }

    .a-userActions__element {
        align-self: start;
        justify-self: center;
        cursor: pointer;

        svg {
            height: 20px;
            width: auto;
            fill: $grey;
        }
    }

    .a-userActions__love {
        grid-area: alove;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        span {
            margin-top: -5px;
            font-size: 0.8rem;
            color: $grey;
        }
    }

    .a-userActions__bookmark {
        grid-area: abookmark;
    }

    .a-userActions__share {
        grid-area: ashare;
    }
}

/**
 * Section TOP CATEGORIES
 */

 section.topCategories {
    margin-top: 40px;
     @include desktop {
         margin-top: 100px;
     }

    .c-categoriesContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        @include desktop {
            margin-top: 50px;
            display: grid;
            grid-template: repeat(2, auto) / repeat(4, 1fr);
            grid-gap: 50px 50px;
        }
    }
}

.c-categoriesContainer__singleCategory {
    box-shadow: 0 0 4px #dcdcdc;
    border-radius: 5px;
    background-color: $white;
    width: 100%;
    margin: 15px 0;
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "topCategoryImage topCategoryImage"
        "topCategoryTitle topCategoryTitle"
        "topCategoryNumber topCategoryActions";
    @include desktop {
        grid-template-rows: 150px auto auto;
    }

    .c-singleCategory__image {
        grid-area: topCategoryImage;
        object-position: center;
        overflow: hidden;
        border-radius: 5px 5px 0 0;

        img {
            object-fit: cover;
            min-height: 100%;
            width: 100%;              
        }
    }

    .c-singleCategory__title {
        grid-area: topCategoryTitle;
        padding: 10px;
        margin: 10px 0;

        a {
            text-decoration: none;
            color: $black;
        }
    }

    .c-singleCategory__number {
        grid-area: topCategoryNumber;
        padding-left: 10px;
        align-self: center;
        color: $hardgrey;
    }

    .c-userActions {
        grid-area: topCategoryActions;
        justify-self: flex-end;
        display: grid;
        grid-template: auto / repeat(2, 50px);
        grid-template-areas: "clove cbookmark";
    }

    .c-userActions__element {
        align-self: start;
        justify-self: center;
        cursor: pointer;

        svg {
            height: 20px;
            width: auto;
            fill: $grey;
        }
    }

    .c-userActions__love {
        grid-area: clove;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        span {
            margin-top: -5px;
            font-size: 0.8rem;
            color: $grey;
        }
    }

    .c-userActions__bookmark {
        grid-area: cbookmark;
    }
}

/**
 * NEWSLETTER Section
 */

 section.newsletter {
     margin-top: 40px;
     @include desktop {
         margin-top: 100px;
     }

     .n-description {
        margin: 25px auto;
        text-align: center;
        @include desktop {
            width: 60%;
            margin: 50px auto;
         }
     }

     .n-newsletterForm {
         margin: 0 auto;
         @include desktop {
             width: 50%;
             display: flex;
             align-items: center;
             justify-content: center;
         }
     }

     .n-inputNewsletter {
        width: 100%;
        height: 50px;
        border-radius: 2px 2px 0 0!important;
        border-top: solid 1.5px $blue;
        border-left: solid 1.5px $blue;
        border-right: solid 1.5px $blue;
        border-bottom: none;
        padding-left: 10px;
        outline: 0;
        @include desktop {
            border-radius: 2px 0 0 2px!important;
            border: solid 1.5px $blue;
            font-size: 1rem;
        }
     }

     .n-subscribeNewletter{
        margin: 0 auto;
        font-size: 1rem;
        background: $blue;
        height: 50px;
        width: 100%;
        padding: 0 20px;
        border: none;
        border-radius: 0 0 2px 2px!important;
        cursor: pointer;
        outline: 0;
        @include desktop {
            width: auto;
            border-radius: 0 2px 2px 0!important;
        }
    }
 }