*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "CircularStd-Book", system-ui, sans-serif;
    font-size: 1rem;
    line-height: 150%;
    width: 100%;
    overflow-x: hidden;
}

/**
 *
 * RESET
 *
 */

a {
    display: block;
}

ul {
    li {
        list-style-type: none;
    }
}

/**
 *
 * COMPONENTS RÉUTILISABLES
 *
 */

%buttonPrimary {
    text-decoration: none;
    color: $btnPrimaryColor;
    background-color: $btnPrimaryBgColor;
    border-radius: 2px;
}

%buttonSecondary {
    text-decoration: none;
    color: $btnSecondaryColor;
    background-color: $btnSecondaryBgColor;
}

.primaryButton {
    @extend %buttonPrimary;
}

.secondaryButton {
    @extend %buttonSecondary;
}

.hero__boldText {
    font-weight: 700;
    font-style: normal;
}

.input-field-component {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;

    label {
        margin-bottom: 2px;

        .optional-field {
            font-style: italic;
            opacity: 0.5;
        }
    }

    input {
        border-radius: 2px;
        width: 100%;
        height: 45px;
        outline: 0;
        border: 1.5px solid $black;
        padding-left: 5px;
        @include desktop {
            font-size: 1rem;
        }
    }

    input[type="radio"] {
        height: 15px;
        width: 15px;
    }

    textarea {
        border-radius: 2px;
        width: 100%;
        min-height: 45px;
        outline: 0;
        border: 1.5px solid $black;
        padding: 5px;
        resize: vertical;
        @include desktop {
            font-size: 1rem;
        }
    }
    
    .inform-message {
        width: 100%;
        font-size: 0.8rem;
        font-style: italic;
        text-align: right;
        line-height: 110%;
        margin-top: 4px;
    }
}

input {
    font-size: 0.8rem;
}

/**
 *
 * GESTION MEDIA-QUERIES
 *
 */

.showDesktop {
    display: none;

    @include desktop {
        display: block!important;
    }
}

.showTablet {
    display: none;

    @include tablet {
        display: block!important;
    }
}

.hideDesktop {
    display: block;

    @include desktop {
        display: none!important;
    }
}

.hideTablet {
    display: block;

    @include tablet {
        display: none;
    }
}


/**
 *
 * NIVEAUX DE TITRES
 *
 */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Old Standard TT', serif, system-ui;
    font-size: 1.25rem;
    font-weight: 400;
}

h1 {
    font-size: 1.4rem;
    text-align: center;
    line-height: 2rem;
}

h2 {
    font-size: 1.4rem;
    font-family: "Old Standard TT", serif;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    color: $darkblue;
    @include desktop {
        font-size: 2rem;
    }
}



/**
 *
 * BACKGROUND
 *
 */

.columnsBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -99;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    grid-column-gap: 2px;
    background-color: $lightgrey;

    @include desktop {
        grid-template: 1fr / repeat(12, 1fr);
    }

    .columnsBackground__column {
        width: 100%;
        height: 100%;
        background-color: $white;
    }
}



/**
 *
 * LAYOUT PRINCIPAL
 *
 */

.container {
    width: 100%;
    display: grid;
    grid-template: auto / repeat(8, 1fr);
    grid-gap: 1px;

    @include desktop {
        grid-template: auto / repeat(24, 1fr);
    }
}


/**
 *
 * HEADER
 *
 */

.baseHeader {
    grid-column: 1 / span 8;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template: 50px / 25% 50% 25%;
    grid-template-areas: "burger logo profile";
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 15px 0px rgba($black, 0.2);
    z-index: 999;

    @include desktop {
        grid-column: 1 / span 24;
        grid-template: 50px / 25% 75%;
        grid-template-areas: "logo nav";
    }

    .headerBackground {
        width: 100%;
        height: 50px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        display: grid;
        grid-template: 100% / repeat(4, 1fr);
        grid-gap: 2px;
        background-color: $lightgrey;

        @include desktop {
            width: 100vw;
            grid-template: 100% / repeat(12, 1fr);
        }

        .headerBackground__column {
            width: 100%;
            height: 100%;
            background-color: $white;
        }
    }

    .header__brandLogo {
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 999;

        svg {
            height: 35px;
            width: auto;
        }
    }

    .header__menuBurger {
        grid-area: burger;
        justify-self: start;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        cursor: pointer;
        z-index: 999;
    }

    .header__userLogo {
        grid-area: profile;
        display: flex;
        margin-right: 20px;
        align-items: center;
        justify-content: flex-end;
        z-index: 999;
    }
}

/* MENU BURGER */

.header__menuBurger {
    width: 30px;
    height: 30px;

    .menuBurger__bars {
        width: 100%;
        height: 2px;
        background-color: $black;
    }

    .menuBurger__topBar {
        width: 100%;
        transition: transform .5s ease-in-out;
    }

    .menuBurger__centerBar {
        margin: 6px 0;
        width: 66%;
        transition: width 0.2s ease-in-out, opacity 0.5s ease-in-out;
    }

    .menuBurger__bottomBar {
        width: 33%;
        transition: width .5s ease-in-out, transform .5s ease-in-out;
    }

    &.visible {
        .menuBurger__topBar {
            width: 100%;
            transform: translateY(8px) rotate(45deg);
        }

        .menuBurger__centerBar {
            margin: 6px 0;
            width: 0;
            opacity: 0;
        }

        .menuBurger__bottomBar {
            width: 100%;
            transform: translateY(-8px) rotate(-45deg);
        }
    }
}

/* Icône Profil */

.header__userLogo {
    svg {
        height: 30px;
        width: auto;
        transform: translateY(4px);
        fill: $black;
        cursor: pointer;
    }
}


/**
 *
 * NAVIGATION
 *
 */

.header__navigation {
    height: calc(100vh - 50px);
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    padding-top: 40px;
    background-color: $white;
    transform: translateY(-100vh);
    opacity: 0;
    visibility: hidden;
    transition: transform .5s ease-in, opacity .25s ease-in, visibility 1s ease-in;
    z-index: 98;

    @include desktop {
        position: static;
        transform: none;
        visibility: visible;
        transition: none;
        height: 100%;
        opacity: 1;
        width: auto;
        grid-area: nav;
        z-index: 999;
        padding-top: 0;
        background-color: transparent;
    }

    &.visible {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;

        @include desktop {
            transform: none;
        }
    }

    ul {
        @include desktop {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        li {
            height: 50px;
            width: 100%;
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include desktop {
                margin: 0;
                width: auto;
                justify-content: center;
            }

            .secondaryButton {
                @include desktop {
                    padding: 0 20px;
                    transition: background-color 0.2s ease-in;

                    &:hover {
                        background-color: $middlegrey;
                    }
                }
            }

            .primaryButton {
                @include desktop {
                    margin: 0 5px;
                }
            }
        }
    }

    .secondaryButton {
        height: 100%;
        width: 100%;
        padding-left: 30px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg {
            height: 30px;
            margin-right: 10px;
            fill: $btnSecondaryColor;
        }
    }

    .primaryButton {
        margin-left: 20px;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg {
            height: 30px;
            margin-right: 10px;
            fill: $btnPrimaryColor;
        }
    }
}

/**
 *
 * CONTENU DE LA PAGE
 *
 */

main {
    margin-top: 50px;
    grid-column: 2 / span 6;
    width: 100%;

    @include desktop {
        grid-column: 2 / span 22;
    }
}

/**
 *
 * FOOTER
 *
 */

footer {
    grid-column: 1 / span 8;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: calc((100vw / 24) * (-1));
        width: 100vw;
        height: 2px;
        background-color: $middlegrey;
    }

    @include desktop {
        grid-column: 2 / span 22;
        display: grid;
        grid-template: repeat(4, auto) / 1.5fr 0.5fr repeat(3, 1fr);
        grid-template-areas:
            "logoDesc  . presentation blogueur mentions"
            "logoDesc . presentation pros mentions"
            "footTop footTop footTop footTop footTop"
            "footBottom footBottom footBottom footBottom footBottom";
    }

    .footer__brandLogo {
        width: 90%;
        max-width: 150px;
        height: auto;

        @include desktop {
            grid-area: logoDesc;
        }

        .brandLogo__image {
            width: 100%;
            height: auto;
        }
    }

    .footer__description {
        margin: 25px 0;

        @include desktop {
            grid-area: logoDesc;
            margin: 80px 0 0 0;
        }
    }

    .linksGroup {
        margin: 25px 0;

        .footerButton {
            @extend %buttonSecondary;
            margin: 5px 0;
            padding: 5px;
        }
    }

    .footer__copyright, .footer__love {
        margin: 0 auto;
        text-align: center;
        font-size: 0.9rem;
    }

    .linksGroup__presentation {
        @include desktop {
            grid-area: presentation;
        }
    }

    .linksGroup__bloggers {
        @include desktop {
            grid-area: blogueur;
        }
    }

    .linksGroup__advertisers {
        @include desktop {
            grid-area: pros;
        }
    }

    .linksGroup__legalMentions {
        @include desktop {
            grid-area: mentions;
        }
    }

    .footer__copyright {
        @include desktop {
            grid-area: footTop;
        }
    }

    .footer__love {
        @include desktop {
            grid-area: footBottom;
        }
    }
}