{% extends "base.html.twig" %}

{% block metaTitle %}{% endblock %}
{% block metaDescription %}{% endblock %}

{# META TAGS • Facebook #}
{% block metaFacebookUrl %}{% endblock %}
{% block metaFacebookTitle %}{% endblock %}
{% block metaFacebookDescription %}{% endblock %}
{% block metaFacebookImage %}{% endblock %}

{# META TAGS • Twitter #}
{% block metaTwitterCard %}{% endblock %}{# default : summary_large_image #}
{% block metaTwitterUrl %}{% endblock %}
{% block metaTwitterTitle %}{% endblock %}
{% block metaTwitterDescription %}{% endblock %}
{% block metaTwitterImage %}{% endblock %}

{# Stylesheets #}
{% block stylesheets %}{% endblock %}

{# Page Title #}
{% block pageTitle %}Le moteur de recherche de blogs{% endblock %}

{# Contenu de la page #}
{% block body %}

<!-- start • HERO Section -->
<section class="hero">
    <h1>
        <span class="hero__mainTitle">Bienvenue sur <span class="hero__boldText">Woazoo</span>, le moteur de <span class="hero__boldText">recherche</span> dédié aux <span class="hero__boldText">blogs</span> sur
            <br>
            <span class="hero__dynamicTitleCategory hero__boldText"></span>
        </span>
    </h1>

    <form action="{{ path('user_search') }}" method="get" class="hero__searchForm">
        <div class="hero__searchForm__inputField">
            <input type="text" name="homepageSearch" id="homepageSearch" max="255" placeholder="Effectuez une recherche...">
            <button type="submit">
                <svg viewBox="0 0 512 512">
                    <path d="M443.5 420.2L336.7 312.4c20.9-26.2 33.5-59.4 33.5-95.5 0-84.5-68.5-153-153.1-153S64 132.5 64 217s68.5 153 153.1 153c36.6 0 70.1-12.8 96.5-34.2l106.1 107.1c3.2 3.4 7.6 5.1 11.9 5.1 4.1 0 8.2-1.5 11.3-4.5 6.6-6.3 6.8-16.7.6-23.3zm-226.4-83.1c-32.1 0-62.3-12.5-85-35.2-22.7-22.7-35.2-52.9-35.2-84.9 0-32.1 12.5-62.3 35.2-84.9 22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2c22.7 22.7 35.2 52.9 35.2 84.9 0 32.1-12.5 62.3-35.2 84.9-22.7 22.7-52.9 35.2-85 35.2z"/>
                </svg>
            </button>
        </div>
    </form>

    <p class="h-titleCategoriesTrends">En tendance actuellement :</p>
    <div class="h-categoriesTrends">
        {% for i in 0..2 %}
            <a href="#!" class="h-category secondaryButton">
                <div class="h-category__image">
                    <img src="../img/illu-lp.png" alt="Illustration de la catégorie">
                </div>
                <span class="h-category__title">Catégorie</span>
            </a>
        {% endfor %}
    </div>
</section>
<!-- end • HERO Section -->

<!-- start • POPULAR BLOGS Section -->
    <section class="popularBlogs">

    </section>
<!-- end • POPULAR BLOGS Section -->
{% endblock %}

{% block scripts %}
    <script src="../../node_modules/typed.js/lib/typed.min.js"></script>
    <script src="../../public/js/dynamicCategoriesTitle.js"></script>
{% endblock %}


{#
À utiliser si besoin dans les pages concernées :
<script src="/node_modules/rellax/rellax.min.js"></script>
<script src="/node_modules/scroll-out/dist/scroll-out.min.js"></script>
<script src="/node_modules/swup/dist/swup.min.js"></script>
<script src="/node_modules/typed.js/lib/typed.min.js"></script>
#}